main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5%; 
    padding: 0; 
}
.QA img{
border-radius: 50%; 
max-width:20%;
border: 5px dashed var(--headers-brick);
}
