/* theme */
:root{
    /* color theme */
   --background-peach: #FDEEDC;
   --nav-creamsicle: #FCD5B5; 
   --button-marndarin: #FBA660;
   --button-grape: #8D6CA3;
   --button-mint: #AACB9F;
   --button-cherry: #D95D67;
   --button-blueberry: #A3B4D9;
   --button-lavender: #D8AACC;
   --button-concord: #6C4A7F;
   --accent-plum: #A95A74;
   --accent-lightblue: #539DC2;
   --accent-blue: #2E5AAC;
   --headers-brick: #B85A38;
   --headers-lemon: #FDF277;

}

@font-face {
  font-family: rope;
  src: url(/assets/fonts/rope-mf-font/RopeMf-WVA9.ttf);
}

@font-face {
  font-family: neonderthaw;
  src: url(/assets/fonts/Neonderthaw/Neonderthaw-Regular.ttf);
}

@font-face {
  font-family: londrina-sketch;
  src: url(/assets/fonts/Londrina_Sketch/LondrinaSketch-Regular.ttf);
}

@font-face {
  font-family: londrina-shadow;
  src: url(/assets/fonts/Londrina_Shadow/LondrinaShadow-Regular.ttf);
}

@font-face {
  font-family: fredricka;
  src: url(/assets/fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf);
}

@font-face {
  font-family: courier-prime;
  src: url(/assets/fonts/Courier_Prime/CourierPrime-Regular.ttf);
}

@font-face {
  font-family: bitcount;
  src: url(/assets/fonts/Bitcount_Prop_Single/BitcountPropSingle-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf);
}

@font-face {
  font-family: menlo;
  src: url(/assets/fonts/Menlo-Regular.ttf);
}

/* all */
/* Universal reset for margin and padding */
html{
  scroll-behavior: smooth;
}
body{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%; 
    padding: 0; 
    font-family: courier-prime;
    background-color: var(--background-peach);
    color: var(--accent-plum)
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    max-width: 75%;
    margin: 5%; 
    padding: 0; 
}

section{
    display: flex;
    flex-direction: column;
    margin: 1%;  
    flex-wrap: nowrap;
    border: 2px solid var(--button-concord);
    padding: 50px;
    border-radius: 10px;
    background-color: var(--nav-creamsicle);
}

nav, nav ul{
    display: flex;
    top: 0;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    font-family: rope;
    text-decoration: none;
    font-size: 80px;
    background-color: var(--nav-creamsicle);
}

nav{
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    z-index: 1;
    background-color: var(--nav-creamsicle);
    width: 75%;
    margin: 1%
}

nav ul{
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    font-family: fredricka;
    color: var(--headers-lemon);
    font-size: x-large;
}



nav a, nav ul {
    text-decoration: none;
    list-style-type: none;
    color: var(--headers-brick);
}

#site-name{
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: center;
  text-align: center;
}

h1{
  text-align: center;
  font-size: 65px;
}

.game-button1{
    background-color: var(--button-grape);
    color: var(--button-marndarin);
    padding: 2px;
    border: 5px solid var(--accent-lightblue);
    border-radius: 10% 10% 10% 10%;
}
.game-button2{
    background-color: var(--headers-lemon);
    color: var(--headers-brick);
    padding: 2px;
    border: 5px solid var(--accent-blue);
    border-radius: 10% 10% 10% 10%;
}

.game-button3{
    background-color: var(--button-lavender);
    padding: 2px;
    border: 5px solid var(--accent-lightblue);
    border-radius: 10% 10% 10% 10%;
}

.express{
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  max-width: 75%;
}

.express li, .express a {
  text-decoration: none;
  list-style-type: none;
  margin: 2%;
  padding:.25em;
}

@media screen and (width < 600px){
  h1{
    font-size: 35px;
  }
nav li {
    margin: 2%;
}
.express{

}
}




/* animations */